
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2 style="text-align:center">XÁC NHẬN ĐƠN HÀNG</h2>
<h4 style="text-align:center">
    Đơn hàng của quý khách đã được chúng tôi ghi nhận,
    chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất
    và giao hàng đúng hẹn
</h4>
<p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">VỀ TRANG CHỦ</a>
</p>
